<section>
  <header>
    <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
    <p>
      <time datetime="{{ page.date|date("c") }}">{{ page.date|date('D') }} {{ 'MONTHS_OF_THE_YEAR'|ta(page.date|date('n') - 1) }} {{ page.date|date('j, Y') }}</time>
      {% if page.taxonomy.tag %}
        in
        {% for tag in page.taxonomy.tag %}
          <a href="{{ page.parent().url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}" rel="tag">{{ tag }}</a>
        {% endfor %}
      {% endif %}
      <span class="middotDivider"></span>
      {% if config.plugins.readingtime.enabled %}
        {{ page.content|readingtime({'format': '{minutes_short_count} {minutes_text}', 'round':'minutes'}) }} read
      {% endif %}
      {% if page.header.shares %}
      &mdash; shared on {% for medium, url in page.header.shares %}{% if loop.last %} and {% elseif not loop.first %}, {% endif %}<a href="{{ url }}">{{ medium }}</a>{% endfor %}
      {% endif %}
    </p>
  </header>
  {% if page.header.continue_link is sameas(false) %}
    <div class="e-content">
      {{ page.content }}
    </div>

    {% if not truncate %}
      {% set show_prev_next = true %}
    {% endif %}
  {% elseif truncate and page.summary != page.content %}
    <div class="p-summary e-content">
      {{ page.summary }}
      <p><a href="{{ page.url }}">{{ 'BLOG.ITEM.CONTINUE_READING'|t }}</a></p>
    </div>
  {% elseif truncate %}
    <div class="p-summary e-content">
      {{ page.content }}
      <p><a href="{{ page.url }}">{{ 'BLOG.ITEM.CONTINUE_READING'|t }}</a></p>
    </div>
  {% else %}
    <div class="e-content">
      {{ page.content }}
    </div>

    {% set show_prev_next = true %}
  {% endif %}

  {% if show_prev_next %}
    {% if not page.isFirst %}
      <a href="{{ page.nextSibling.url }}">{{ 'BLOG.ITEM.NEXT_POST'|t }}</a>
    {% endif %}

    {% if not page.isLast %}
      <a href="{{ page.prevSibling.url }}">{{ 'BLOG.ITEM.PREV_POST'|t }}</a>
    {% endif %}
  {% endif %}
</section>
